
.vs/Lab14/v16/.suo
.vs/Lab14/v16/Server/sqlite3/db.lock
.vs/Lab14/v16/Server/sqlite3/storage.ide
.vs/Lab14/v16/Server/sqlite3/storage.ide-shm
.vs/Lab14/v16/Server/sqlite3/storage.ide-wal
bin/Debug/netcoreapp2.2/Lab14.deps.json
bin/Debug/netcoreapp2.2/Lab14.dll
bin/Debug/netcoreapp2.2/Lab14.pdb
bin/Debug/netcoreapp2.2/Lab14.runtimeconfig.dev.json
bin/Debug/netcoreapp2.2/Lab14.runtimeconfig.json
obj/Debug/netcoreapp2.2/Lab14.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/Lab14.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/Lab14.assets.cache
obj/Debug/netcoreapp2.2/Lab14.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/Lab14.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/Lab14.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/Lab14.dll
obj/Debug/netcoreapp2.2/Lab14.pdb
obj/Lab14.csproj.nuget.cache
obj/Lab14.csproj.nuget.dgspec.json
obj/Lab14.csproj.nuget.g.props
obj/Lab14.csproj.nuget.g.targets
obj/project.assets.json
